  .ipad-boundary {
    width: 65vw;
    height: 98vh;
    background-image: linear-gradient(0deg, #89a2bf -10%, #c4a6b5 60%, #d3d3d3 90%);
    border: 4px solid #bfbdbd;
    border-radius: 40px;
    margin: 5px;
    box-shadow: 0 0 0 25px rgb(0, 0, 0) inset;
  }

  .li {
    position: sticky;
  }

  .playcard {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: #b0b0b0;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  .playcards-container {
    display: flex;
    scroll-behavior: smooth;
    white-space: nowrap;
    height: 550px;
  }

  .playcard {
    width: 400px;
    height: 360px;
    margin-right: 0px;
    margin-left: 20px;
  }

  .playcard:last-child {
    margin-right: 0;
  }

  .prev-arrow,
  .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }

  .prev-arrow {
    left: 10px;
  }

  .next-arrow {
    right: 10px;
  }

  .fa-microphone {
    color: #b2b2b2;
    text-align: right;
  }

  .fa-envelope {
    color: #b2b2b2;
    text-align: left;
  }

  .fa-location-dot {
    color: #b2b2b2;
    text-align: left;
  }

  .playcard.selected {
    /* Add styles for the enlarged playcard, e.g.: */
    transform: scale(0.9);
    /* Slightly increase size */
    z-index: 1;
    /* Bring to the front */
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    /* Add a subtle shadow */
  }

  #live-time {
    font-size: 15px;
    color: #7c7b7b;
    text-align: right;
    margin-right: 25px;
    margin-top: 10px;
    padding: 20px;
  }